.contactList {
	-moz-column-count: 3;
    -moz-column-gap: 15px;
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
}

.person {
	padding: 5px 0 0 0;
	width: 200px;
	height: 345px;
	border: 5px ridge #84000b;
}

.person ul {
	text-align: center;
	position: relative;
	left: -20px;
	list-style-type: none;
}